textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
.uneditable-input:focus {   
  border-color: #680000;
  box-shadow: 0 1px 1px #680000 inset, 0 0 8px #680000;
  outline: 0 none;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #680000 !important;
}

.btn-primary:focus,
.uneditable-input:focus {   
  border-color: #680000;
  box-shadow: 0 1px 1px #680000 inset, 0 0 8px #680000;
  outline: 0 none;
}

.metadata-upload {
  height: 22px;
  width: 182px;
  color: #000000;
  font-family: Georgia;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.32px;
  line-height: 22px;
}

.select-hierarchy {
  height: 21px;
  width: 168px;
  color: #A6B5CA;
  font-family: Georgia;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.31px;
  line-height: 21px;
}

.btn-text {
  color: white;
  font-family: Georgia;
  font-weight: bold;
  letter-spacing: 0.31px;
 
}

.metadata-btn{
  padding-left: 25px;
}